.headerBanner{
    background-color: rgb(53, 52, 52);
    color: lightgrey;
    text-align: center;
    margin: 0;
}

.leftSection{
    max-width: 100%;
    padding: 0;
    margin:0;
}
.rightSec{
    background-color: beige;
    margin: 0;
}

.wrapper{
    max-width: 900px;
    margin: auto;
}

#searchbtn{
    width: fit-content;
}
#searchBar{
    border-style: solid;
}